body {
    margin: 0;
    overflow: hidden;
}

canvas {
    background-color: #484848;
}

canvas:hover {
    cursor: crosshair;
}

.menu {
    position: absolute;
    top: 110px;
    width: 400px;
    height: 600px;
    background-color: #080808;
}

#end-menu {
    display: none;
}

.menu-button {
    display: block;
    margin: auto;
    font-size: 22pt;
    background-color: transparent;
    outline: none;
    border: none;
    color: darkred;
    cursor: pointer;
}

.menu-button:hover {
    color: red;
}

.title-container {
    display: flex;
    justify-content: center;
}

.title {
    display: block;
}

span {
    position: absolute;
    top: 0;
    color: white; 
}

#score {
    right: 10px;
}

#timer {
    right: 100px;
}

.header {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.title {
    font-family: 'Francois One', sans-serif;
    font-size: 40pt;
    padding: 5px;
}

#result {
    font-size: 24pt;
}

.play-pause {
    position: absolute;
    top: 25px;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 18pt;
}

.play-pause:focus {
    outline: none;
}

#play {
    display: none;
}