body {
    margin: 0;
    overflow: hidden;
}

canvas {
    background-color: #484848;
}

.menu {
    position: absolute;
    top: 0;
    margin: 10% 30%;
    width: 40%;
    height: 60%;
    background-color: white;
}

#end-menu {
    display: none;
}

.menu-button {
    width: 40%;
    margin: 20% 30%;
    font-size: 20pt;
}

span {
    position: absolute;
    top: 0;
    color: white; 
}

#score {
    right: 10px;
}

#timer {
    right: 100px;
}

#result {
    text-align: center;
    margin-top: 85px;
    font-size: 24pt;
}

.play-pause {
    position: absolute;
    top: 25px;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 18pt;
}

.play-pause:focus {
    outline: none;
}

#play {
    display: none;
}